h1{
  font-family:'monospace';
  text-align: center;
  color: #0000ff;
  font-size: 50px;
}

.big-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px;
  padding-top: 20px;
}

body {
  background-image: url("aulogo_dk_var1_sort.png");
  background-repeat: no-repeat;
  background-color: #f4f4f4;
}

.grid-item {  
  color: black; 
  font-family: monospace;
  background-color: rgb(181, 181, 181);  
  padding: 70px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-size: 25px;
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.grid-item.occupied .indicator {
  background-color: red; 
}

.booking-form {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background: #fff;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'monospace';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'monospace';
  width: 75%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 200px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  align-items: center;
  height: 50px;
  background: #0000ff;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'monospace';
  border-radius: 4px;
  cursor: pointer;
  padding: 0 12px;
}

button:hover {
  background:  #000084;
}