h1{
  font-family:'monospace';
  text-align: center;
  color: #0000ff;
  font-size: 50px;
}

.big-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px;
  padding-top: 20px;
  margin: 0 auto; 
}

body {
  background-image: url("aulogo_dk_var1_sort.png");
  background-repeat: no-repeat;
  background-color: #f4f4f4;
}

.grid-item {  
  color: black; 
  font-family: 'monospace';
  background-color: rgb(181, 181, 181);  
  padding: 70px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-size: 25px;
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; 
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.grid-item:hover {
  background-color: #d1d1d1; 
  transform: scale(1.02); 
}

.grid-item.occupied .indicator {
  background-color: red; 
}